body {
    background: linear-gradient(135deg, #0099ff, #00ff99);
    font-family: Arial, sans-serif;
}

.row.shadow {
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
}

h2 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    max-width: 300px; 
    font-weight: bold;
    background: linear-gradient( #00D7B7, #00A3FF);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.form-control {
    border: none;
    border-bottom: 2px solid #00D7B7;
    border-radius: 0;
}

.form-control:focus {
    border-bottom: 3px solid #00D7B7;
    box-shadow: none;
}

.form-select:focus {
    border-bottom: 3px solid #00D7B7;
    box-shadow: none;
}

::placeholder {
    color: #000000 !important; /
}

.form-check-input {
    border-color: #0099ff;
}

button.btn-info {
    max-width: 12.5rem;
    color: #fff; 
    padding: 13px;
}

button.btn-info:hover{
    color: #fff;
}